language: python
python:
  - "3.6"
  - "3.7"
sudo: false
dist: bionic
addons:
  firefox: latest
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start || true
install:
  - pip install jupyter notebook
  - python setup.py install
script:
  - pytest
notifications:
  - slack: genepattern:OAj2q4hee6Mk5v9r6SUCIacZ

# JUPYTERLAB CHECKS
#cache:
#  directories:
#    - $HOME/.npm
#install:
#- wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
#- bash miniconda.sh -b -p $HOME/miniconda
#- export PATH="$HOME/miniconda/bin:$PATH"
#- hash -r
#- conda config --set always_yes yes --set changeps1 no
#- conda update -q conda
#- conda info -a
#- conda install nodejs notebook
#- pip install selenium cookiecutter
#- pip install --pre jupyterlab
#script:
#- cookiecutter . --no-input
#- cd jupyterlab_myextension
#- npm install
#- npm run build
#- jupyter labextension install .
#- jupyter lab clean
#- jupyter labextension link .
#- python -m jupyterlab.selenium_check