include LICENSE.txt
include jupyter_wysiwyg/static/*
include jupyter_wysiwyg/static/ckeditor/*
include jupyter_wysiwyg/static/ckeditor/adapters/*
include jupyter_wysiwyg/static/ckeditor/lang/*
include jupyter_wysiwyg/static/ckeditor/plugins/*
include jupyter_wysiwyg/static/ckeditor/plugins/a11yhelp/*
include jupyter_wysiwyg/static/ckeditor/plugins/a11yhelp/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/a11yhelp/dialogs/lang/*
include jupyter_wysiwyg/static/ckeditor/plugins/about/*
include jupyter_wysiwyg/static/ckeditor/plugins/about/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/about/dialogs/hidpi/*
include jupyter_wysiwyg/static/ckeditor/plugins/clipboard/*
include jupyter_wysiwyg/static/ckeditor/plugins/clipboard/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/colordialog/*
include jupyter_wysiwyg/static/ckeditor/plugins/colordialog/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/dialog/*
include jupyter_wysiwyg/static/ckeditor/plugins/div/*
include jupyter_wysiwyg/static/ckeditor/plugins/div/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/divarea/*
include jupyter_wysiwyg/static/ckeditor/plugins/divarea/samples/*
include jupyter_wysiwyg/static/ckeditor/plugins/find/*
include jupyter_wysiwyg/static/ckeditor/plugins/find/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/flash/*
include jupyter_wysiwyg/static/ckeditor/plugins/flash/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/flash/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/forms/*
include jupyter_wysiwyg/static/ckeditor/plugins/forms/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/forms/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/iframe/*
include jupyter_wysiwyg/static/ckeditor/plugins/iframe/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/iframe/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/image/*
include jupyter_wysiwyg/static/ckeditor/plugins/image/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/image/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/link/*
include jupyter_wysiwyg/static/ckeditor/plugins/link/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/link/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/link/images/hidpi/*
include jupyter_wysiwyg/static/ckeditor/plugins/liststyle/*
include jupyter_wysiwyg/static/ckeditor/plugins/liststyle/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/magicline/*
include jupyter_wysiwyg/static/ckeditor/plugins/magicline/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/magicline/images/hidpi/*
include jupyter_wysiwyg/static/ckeditor/plugins/pagebreak/*
include jupyter_wysiwyg/static/ckeditor/plugins/pagebreak/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/pastefromword/*
include jupyter_wysiwyg/static/ckeditor/plugins/pastefromword/filter/*
include jupyter_wysiwyg/static/ckeditor/plugins/preview/*
include jupyter_wysiwyg/static/ckeditor/plugins/scayt/*
include jupyter_wysiwyg/static/ckeditor/plugins/scayt/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/showblocks/*
include jupyter_wysiwyg/static/ckeditor/plugins/showblocks/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/smiley/*
include jupyter_wysiwyg/static/ckeditor/plugins/smiley/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/smiley/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/specialchar/*
include jupyter_wysiwyg/static/ckeditor/plugins/specialchar/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/specialchar/dialogs/lang/*
include jupyter_wysiwyg/static/ckeditor/plugins/table/*
include jupyter_wysiwyg/static/ckeditor/plugins/table/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/tabletools/*
include jupyter_wysiwyg/static/ckeditor/plugins/tabletools/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/templates/*
include jupyter_wysiwyg/static/ckeditor/plugins/templates/dialogs/*
include jupyter_wysiwyg/static/ckeditor/plugins/templates/templates/*
include jupyter_wysiwyg/static/ckeditor/plugins/templates/templates/images/*
include jupyter_wysiwyg/static/ckeditor/plugins/wsc/*
include jupyter_wysiwyg/static/ckeditor/plugins/wsc/dialogs/*
include jupyter_wysiwyg/static/ckeditor/skins/*
include jupyter_wysiwyg/static/ckeditor/skins/moono/*
include jupyter_wysiwyg/static/ckeditor/skins/moono/images/*
include jupyter_wysiwyg/static/ckeditor/skins/moono/images/hidpi/*
recursive-include jupyter_wysiwyg/static *.js
recursive-include jupyter_wysiwyg/static *.css
recursive-include jupyter_wysiwyg/static *.png
recursive-include jupyter_wysiwyg/static *.gif
recursive-include jupyter_wysiwyg/static *.html
recursive-include jupyter_wysiwyg/static *.md
